<div style="clear:left;">
    <{if $library_publication_view == 'single'}>
	<div>
		<h1><{$library_publication.title}></h1>
	</div>
    <{elseif $library_publication_view == 'multiple'}>
	<div>
		<{if $library_publication.feature_item}>
		<h2><{$library_publication.itemLink}></h2>
		<{else}>
		<h2><{$library_publication.itemLink}></h2>
		<{/if}>
	</div>
    <{/if}>
    <div>
        <p>
            <{if $library_publication.creator}><{$smarty.const._CO_LIBRARY_PUBLICATION_BY}> <{$library_publication.creator}><{/if}><{if $library_publication.creator && $library_publication.date}>, <{/if}>
            <{if $library_publication.date}><{$library_publication.date}><{/if}>
            <{if ($library_publication.creator || $library_publication.date) && $library_publication.format}> | <{/if}>
            <{if $library_publication.format}><{$library_publication.format}><{if $library_publication.file_size}>, <{$library_publication.file_size}><{/if}><{/if}>
            <{if ($library_publication.creator || $library_publication.date || $library_publication.format) && $library_publication.counter}> | <{/if}>
            <{if $library_publication.counter}><{$library_publication.counter}> <{$smarty.const._CO_LIBRARY_PUBLICATION_COUNTER}><{if $library_publication.counter >1}>s<{/if}><{/if}>
            <{if ($library_publication.creator || $library_publication.date || $library_publication.format || $library_publication.counter)
			&& $library_publication.download}> | <{/if}>
            <{if $library_publication.download}><{$library_publication.download}><{/if}>
        </p>
    </div>
    <div class="library_separator">
        <{if $library_publication.source}><p><{$smarty.const._CO_LIBRARY_PUBLICATION_SOURCE}>: <{$library_publication.source}></p><{/if}>
    </div>
    <{if $library_publication.cover_path}>
	<div style="float:left; padding: 0px 10px 5px 0px;">
		<{if $library_publication.cover_link}>
		<a href="<{$library_publication.cover_link}>">
			<{resized_image file=$library_publication.cover_path
			width=$library_publication.cover_width height=$library_publication.cover_height
			fit="inside"}></a>
		<{else}>
		<{resized_image file=$library_publication.cover_path width=$library_publication.cover_width
		height=$library_publication.cover_height fit="inside"}>
		<{/if}>
	</div>
    <{/if}>
    <div class="library_separator">
        <p><{$library_publication.description}></p>
    </div>
    <div>
        <p style="clear:left;">
			<{if $library_publication.publisher }>
			<{$smarty.const._CO_LIBRARY_PUBLICATION_PUBLISHER}>: <{$library_publication.publisher}>
			<{/if}>
			<{if $library_publication.publisher && $library_publication.language}>
		 |
			<{/if}>
			<{if $library_publication.language}>
			<{$smarty.const._CO_LIBRARY_PUBLICATION_LANGUAGE}>: <{$library_publication.language}>
			<{/if}>
		</p>
		<p>
			<{if $library_publication.rights}>
            <{$smarty.const._CO_LIBRARY_PUBLICATION_RIGHTS}>: <{$library_publication.rights}>
			<{/if}>
        </p>
    </div>
</div>